* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

.menu {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
nav ul li a:hover {
  color: rgba(220, 20, 60, 0.658);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.col1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col1 > h2 {
  font-size: 54px;
}

.col1 > h3 {
  font-size: 30px;
  font-weight: 100;
  color: #707070;
  margin: 20px 0 10px;
}

.col1 > p {
  font-size: 16px;
  font-weight: 100;
  color: #9c9494c4;
}

.col1 > h4 {
  margin: 30px 0;
  font-size: 20px;
}

.col1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(rgb(255, 26, 64), rgb(255, 120, 143));
  position: absolute;
  left: -40px;
  top: 8px;
}
button {
  width: 140px;
  border: 0;
  outline: none;
  padding: 12px 10px;
  color: white;
  background: linear-gradient(to right, rgb(255, 26, 64), rgb(255, 120, 143));
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

button img {
  width: 30px;
  display: none;
}

button:hover img {
  display: block;
}

button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col2 {
  position: relative;
  flex-basis: 60%; /*40 + 60 = 100*/
  display: flex;
  align-items: center;
}

.col2 > .controller {
  width: 90%;
}

.colorbox {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgb(255, 26, 64), rgb(255, 120, 143));
  height: 100%;
  width: 80%;
  border-radius: 20px 0 0 20px;
  z-index: -1;
  transform: translateX(150px);
}

.addbtn img {
  width: 35px;
  margin-bottom: 5px;
}

.addbtn {
  text-align: center;
  color: white;
  cursor: pointer;
}

.social-links img {
  height: 10px;
  width: 10px;
  cursor: pointer;
  margin-right: 5vh;
}

.social-links {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .menu {
    height: 0;
  }
 
  .smallmenu {
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right, rgb(255, 26, 64), rgb(255, 120, 143));
    position: absolute;
    top: 0px;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 0;
    padding-top: 5vh;
  }

  .smallmenu li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: white;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 1vh;
    right: 2vw;
    z-index: 1;
  }

  .row {
    flex-direction: column-reverse;
    margin: 20px 0;
  }

  .col2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .col2 > .controller {
    width: 77%;
  }

  .col2 > .colorbox {
    transform: translateX(75px);
  }

  .col1 {
    flex-basis: 100%;
  }

  .col1 > h1 {
    font-size: 35px;
  }

  .col1 > h2 {
    font-size: 15px;
  }
}
